

@font-face {
    font-family: 'mermaid';
    src: url('../fonts/Mermaid1001.ttf') format('truetype');
 }
 


footer{
    background-color: rgb(4, 14, 29);
    color: white;
  /*  text-align: left;*/
    padding: 20px;
    width: 100%;
    margin-top: auto;
}

.footContent {
    display: flex; 
    align-items: center; 
  }

  .footImg img{
    max-width: 100px;
    height: auto;
    margin-right: 5%;

  }
  .footText{
    flex: 1;
    text-align: left;
  }

  footer h3{
    font-size: 16px;
  }
  footer h6{
    font-size: 10px;
  }



  .header-container {
    position: relative;
    height: 300px; 
    overflow: hidden;
  }
  
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    filter: brightness(50%);
  }
  
  .text-overlay {
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; /* Espacio interior del contenedor del texto */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo opaco con transparencia */

  }
  
  .text-overlay h2 {
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente (ajusta según desees) */
    text-align: center; /* Alineación del texto */
    padding: 20px; /* Espacio interior del contenedor del texto */
    font-weight: bold;
    font-size: 40px;
  }
  
  header h2{
    font-family: monospace ;
    font-size: 100px;
    font-style: bold;
  }

  button{
    background-color: rgb(59, 14, 100);
    color: white; /* Cambia el color del texto */
    border-radius: 10px;
    border: pink;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

}

.btn.btn-primary {
    background-color: rgb(59, 14, 100);
    color: white; /* Cambia el color del texto */
    border-radius: 10px;
    border: pink;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

  }
  
  .btn.btn-primary:hover{
    background-color: rgb(122, 76, 165);
  }

